<header class='form'>
  <ul class="action-buttons clearfix fr">
    <li>
      <%= link_to new_admin_announcement_path, {:class => 'button button-gray'} do %>
      <span class="add"></span>	
      New Announcement
      <% end %>
    </li>
  </ul>
  <h2>Announcements</h2>
</header>
<section class="with-table">
  <table class="datatable paginate full">
    <thead>
      <tr>
      <th>Title</th>
      <th>Voice</th>
      <th>Url</th>
      <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% for announcement in @announcements %>
      <tr>
        <td><%= announcement.title %></td>
        <td>
          <% if announcement.voice %>
            <%= link_to announcement.voice.title, announcement.voice %>
          <% else %>
            <b>NO VOICE!</b>
          <% end %>
        </td>
        <td><%= announcement.url %></td>
        <td style="width: 25px"><%= link_to "Edit", edit_admin_announcement_path(announcement) %></td>
        <td style="width: 25px"><%= button_to "Delete", admin_announcement_path(announcement), :confirm => "Are you sure?", :method => :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= paginate @announcements %>