<header class='form'>
  <ul class="action-buttons clearfix fr">
    <li>
      <%= link_to new_admin_voice_path, {:class => 'button button-gray'} do %>
        <span class="add"></span>
        Add a Voice
      <% end %>
    </li>
  </ul>
  <h2>Voices</h2>
</header>
<section class="with-table">
  <table class="datatable paginate full">
    <thead>
      <tr>
        <th>Title</th>
        <th>Num. of Posts</th>
        <th>Location</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% for voice in @voices %>
      <tr onmouseout="$('.deletebutton').hide();" onmouseover="$('#<%= voice.id %>deletebutton').show();">
        <td class="title"><%= link_to voice.title, voice %></td>
        <td><%= voice.posts.size %></td>
        <td><%= voice.location %></td>
        <td class="actions">
          <%= link_to "Edit", edit_admin_voice_path(voice), :class => 'action edit' %>
          <%= button_to "Delete", admin_voice_path(voice), :confirm => "Are you sure?", :method => :delete, :class => 'action delete deletebutton', :id => "#{voice.id}deletebutton", :style => 'display: none;' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= paginate @voices %>
